# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
# IntelliJ
.idea/
# Configuration files
conf/application.conf
# R
*.Rhistory
*.Rproj.user
# private data
analysis/data/
analysis/data
