<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Obras-PB</title>
        <link type="text/css" rel="stylesheet" media="screen" href='@routes.Assets.versioned("resources/css/angular-material.min.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("resources/images/favicon.png")'>
        <link rel="icon" type="image/png" href='@routes.Assets.versioned("resources/images/tce_128.png")'>

        <!-- Google Fonts -->
        <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Angular material table CSS -->
        <link rel="stylesheet" href='@routes.Assets.versioned("resources/css/md-data-table.css")'>
        <!-- Own CSS style GeoObras -->
        <link rel="stylesheet" href='@routes.Assets.versioned("resources/css/geoobrasstyle.css")'>
    </head>

    <body ng-app="obrasPb">

        <!-- AngularJS & Angular Material design dependencies -->
        <script src='@routes.Assets.versioned("resources/js/angular.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("resources/js/angular-ui-router.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("resources/js/angular-animate.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("resources/js/angular-aria.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("resources/js/angular-material.min.js")' type="text/javascript"></script>

        <!-- Angular Material Table -->
        <script src='@routes.Assets.versioned("resources/js/md-data-table.js")' type="text/javascript"></script>

        <!-- App -->
        <script src='@routes.Assets.versioned("javascripts/app.js")' type="text/javascript"></script>

        <!-- Rotas -->
        <script src='@routes.Assets.versioned("javascripts/router.js")' type="text/javascript"></script>

        <!-- Controllers -->
        <script src='@routes.Assets.versioned("javascripts/controller/HomeController.js")' type="text/javascript"></script>

        <!-- Services -->
        <script src='@routes.Assets.versioned("javascripts/service/ObrasService.js")' type="text/javascript"></script>

        s

        <!-- Angular formatação pt-br -->
        <script src='@routes.Assets.versioned("resources/js/angular-locale_pt-br.js")' type="text/javascript"></script>
        <script src='@routes.Assets.versioned("resources/js/angular-filters.js")' type="text/javascript"></script>


        <!-- begin navbar -->
        <md-toolbar layout="row" ng-controller="HomeController as homeCtrl" layout-align="space-between center" class="md-hue-2" style="position: fixed; top: 0px;">
            <div layout="row" style="min-width: 250px;">
                <img src="assets/resources/images/tce_128.png" height="50px;" layout-margin>
                <h4>Obras - PB</h4>
            </div>

            <div style="padding-right: 40px;" layout-fill>
                <a style="float: right; color: white; text-decoration: none;" href="http://150.165.85.44:9090/">Mapa interativo</a>
            </div>

            <md-input-container>

                <md-select layout-align="space-between center " class="mySelect" ng-model="homeCtrl.relatorios" placeholder="Selecione um relatório" >
                    <md-option  ng-repeat="relatorio in homeCtrl.relatorios" ng-value="relatorio.nome" ng-click="homeCtrl.redireciona(relatorio.referencia)">
                        {{relatorio.nome}}

                    </md-option>
                </md-select>
            </md-input-container>
        </md-toolbar>
        <!-- end navbar -->

        <ui-view></ui-view>

        <!-- begin footer -->
        <footer style="bottom: 0px; position: fixed; width: 100%;">
            <md-toolbar class="md-scroll-shrink">
                <div layout="row" layout-align="center center" layout-fill>
                    <p>
                    Esta aplicação lista todas as obras informadas ao TCE-PB do período de 2010 até os dias atuais.
                        As informações aqui listadas são provenientes da base de dados SAGRES que pertence ao TCE-PB.
                    </p>
                </div>
            </md-toolbar>
        </footer>
        <!-- end footer -->
    </body>
</html>